
html {
    --topheight: 50px;
    --sidewidth: 30vw;
    --dividewidth: 3px;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.topbar {
    width:100%;
    height: var(--topheight);
    background-color: rgb(0, 59, 93);
}

.sidebar {
    display: inline-block;
    position: fixed;
    margin: 0;
    width: var(--sidewidth);
    height: calc(100vh - var(--topheight));
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: rgb(0, 0, 129);
}

.divider {
    display: inline-block;
    position: fixed;
    left: var(--sidewidth);
    width: var(--dividewidth);
    height: calc(100vh - var(--topheight));
    margin: 0;
    background-color: black;
    z-index: 1;
    cursor: col-resize;
}

.mainbox {
    display: inline-block;
    position: fixed;
    right: 0;
    margin: 0;
    box-sizing: border-box;
    width: calc(100% - var(--sidewidth) - var(--dividewidth));
    height: calc(100vh - var(--topheight));
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: rgb(106, 0, 255);
}