
html {
    --sidewidth: 25vw;
    --dividewidth: 3px;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
}

textarea {
    font-family: monospace;
    display:block;
    margin: 8px;
}

#topbar { /*  TODO change from class to id selector (if more efficient?)  */
    width:100%;
    /*height: var(--topheight);*/
    background-color: rgb(0, 158, 96);
}

#modes {
    display: inline-block;
    margin: 8px;
    padding: 2px;
    border-radius: 99999px;
    background-color: rgb(0, 114, 68);
}

#modes > button {
    margin: 4px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: rgb(81, 234, 81);
    border: 3px solid rgb(0, 114, 68);
    border-radius: 99999px;
    cursor: pointer;
    font-size: inherit;
    transition-duration: 0.3s;
}

#modes > button:hover {
    background-color: rgb(183, 255, 183);
    border: 3px solid rgb(0, 255, 0); /*does not work*/
}

/*#highlighter {
    background-color: rgb(0, 203, 0);
    width: 40px;
    height: 40px;
} TODO fancy stuff here*/

#sidebar {
    display: inline-block;
    position: fixed;
    margin: 0;
    width: var(--sidewidth);
    height: 201px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: rgb(216, 222, 216);
}

#divider {
    display: inline-block;
    position: fixed;
    left: var(--sidewidth);
    width: var(--dividewidth);
    height: 201px;
    margin: 0;
    background-color: black;
    z-index: 1;
    cursor: col-resize;
}

#mainbox {
    display: inline-block;
    position: fixed;
    right: 0;
    margin: 0;
    box-sizing: border-box;
    width: calc(100% - var(--sidewidth) - var(--dividewidth));
    height: 201px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.RLE_modeTop {
    display: none;
}
.viewer_cache {
    display: none;
}
.Translator {
    display: none;
}


.pattern_button {
    background-color: red; /*JS should ensure that buttons are NOT red*/
    padding: 4px;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor:pointer;
}

.settings_button {
    display: block;
    margin: 8px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: rgb(77, 255, 89);
    border: none;
    border-radius: 99999px;
    cursor: pointer;
    font-size: inherit;
    transition-duration: 0.3s;
}

.settings_button:hover {
    background-color: rgb(156, 255, 162);
}