@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    --sidebar-width: 300px;
}
body{
    height: 100vh !important;
    overflow: hidden;
}

.left-pane{
    width: var(--sidebar-width);
}
.divider-none{
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
}
.sidebar-pattern{
    height: 28px;
    max-height: 28px;
    /* background-color: green; */
}
content {
    position: absolute;
    top: 64px;
    left: var(--sidebar-width);
}
.calc-size{
    width: calc(100% - var(--sidebar-width));
    height: calc(100% - 64px);
}
.calc-h{
    height: calc(100% - 64px);
}
.calc-w{
    width: calc(100% - var(--sidebar-width));
}
div.calc-size#content{
    width: calc(100% - var(--sidebar-width));
}
#pane-content{
    width: 100%;
    height: calc(100% - 55px);
    border-radius: 0px !important;
}

#pane-actions > div.btn{
    max-height: 32px !important;
    max-width:  32px !important;
    background-color: purple;
}